.full-width-table {
  width: 100%;
}

.button-div {
  margin-left: 10px;
  margin-right: 10px;
}

#history  {
  margin-top: 10px;
}

#trash  {
  margin-left: 10px;
}

.actions {
  display: flex;
  justify-content: flex-start;
}
