@media (hover: hover) {

  .cardFieldRows {
    display: flex;
    flex-direction: row;
  }

  .formFields {
    margin-top: 10px;
    margin-right: 10px;
    width: 20%;
  }
}

@media (hover: none) {

  .cardFieldRows {
    display: flex;
    flex-direction: column;
  }

  .formFields {
    margin-top: 10px;
    width: 100%;
  }

}

.buttons {
  margin-right: 10px;
}

#delete {
  margin-left: 50px;
}

#address  {
  width: 100%;
}

