@media (hover: hover) {

  .cardFieldRows {
    display: flex;
    flex-direction: row;
  }

  .formFields {
    margin-top: 10px;
    margin-right: 10px;
    width: 20%;
  }
}

@media (hover: none) {

  .cardFieldRows {
    display: flex;
    flex-direction: column;
  }

  .formFields {
    margin-top: 10px;
    width: 100%;
  }

}

.centered {
  display: flex;
  justify-content: space-between;
}

#reset {
  margin-left: 10px;
}

#address  {
  width: 100%;
}

.button-div {
  margin-left: 10px;
  margin-right: 10px;
}
