@media (hover: none) {

  .dialogFieldRows {
    display: flex;
    flex-direction: column;
  }

  .dialogContents {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .leftFormFields {
    width: 100%;
  }

  .rightFormFields {
    width: 100%;
  }

}

@media (hover: hover)  {

  .dialogFieldRows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .dialogContents {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .leftFormFields {
    margin-right: 10px;
  }

  .rightFormFields {
    margin-left: 10px;
  }

  #sex {
    width: 50%;
  }

  #dob {
    width: 150%;
  }

  #address {
    width: 140%;
  }

  #phone {
    width: 60%;
  }

}

.centered {
  display: flex;
  justify-content: center;
}



